.App{
  text-align: center;
}

.home-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inner-home-cont{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(auto);
}

.each-client-cont{
  /* margin: 30px; */
}

@media (min-width:750px) {
  .inner-home-cont{
    width:80%;

    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    place-self: center;
  }
}