.nav-btn-cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}

.center{
    width: 80%;
    text-align: centerc;
}

@media (min-width:750px) {
    .center{
        width: 35%;
        text-align: centerc;
    }
  }